*{
    margin: 0;
}

body{
    min-height: 1vh;
    box-sizing: border-box;
    font-family: "Space Grotesk";
    font-size: 18px;
    font-weight: 500;
}


main{
    display: flex;
    flex-direction: column;
}

.image{
    min-height: 250px;
    background: url("../images/bg-main-desktop.png");
    background-size: cover;
}

article{
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards{
    width: 350px;
    height: 255px;
    top: -200px;
    position: absolute;
}
.card{
    color: white;
    width: 300px;
    aspect-ratio: 20/11;
    box-sizing: border-box;
    position: absolute;

}
.card1{
    top: 0;
    right: 0;
    background: url("../images/bg-card-back.png");
    background-position: center;
    background-size: contain;
}

.card2{
    padding: 1.25rem;
    flex-direction: column;

    bottom: 0;
    background: url("../images/bg-card-front.png");
    background-position: center;
    background-size: contain;
}













.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }