*{
    margin: 0;
}

body{
    min-height: 1vh;
    box-sizing: border-box;
    font-family: "Space Grotesk";
    font-size: 18px;
    font-weight: 500;
}


main{
    display: flex;
    flex-direction: column;
}

.image{
    min-height: 260px;
    background: url("../images/bg-main-desktop.png");
    background-size: cover;
}

article{
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards{
    width: 350px;
    height: 255px;
    top: -210px;
    position: absolute;
}
.card{
    box-shadow: 0 20px 20px hsla(0, 0%, 0%, 0.25);
    color: white;
    width: 300px;
    aspect-ratio: 20/11;
    box-sizing: border-box;
    position: absolute;
    letter-spacing: 1px;
}
.card1{
    top: 0;
    right: 0;
    background: url("../images/bg-card-back.png");
    background-position: center;
    background-size: contain;
}
.card1 p{
    position: absolute;
    right: 36px;
    top: 76px;
    font-size: .5em;
}
.card2{
    padding: 1.25rem;
    flex-direction: column;
    bottom: 0;
    background: url("../images/bg-card-front.png");
    background-position: center;
    background-size: contain;
}
.card2, .name{
    display: flex;
    justify-content: space-between;
}
.circles{
    display: flex;
    align-items: center;
    gap: 10px;
}
.card2 .circle1, .card2 .circle2{
    border-radius: 100px;
    aspect-ratio: 1/1;
    
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.card2 .circle1{
    width: 30px;
    background-color: white;
}
.card2 .circle2{
    width: 13px;
    border: 2px solid white;
}
.number{
    font-size: .92em;
    letter-spacing: 4px;
    margin-bottom: 1rem;
}
.name{
    font-size: .5em;
}
.uncomplete, .complete{
    max-width: 500px;
    width: 100%;
    padding: calc(4rem - 10px) 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
label, .expDate{
    max-width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    color: hsl(278, 68%, 11%);
    font-size: .75em;
    letter-spacing: 2px;
    text-transform: uppercase;
}
label input{
    position: relative;
    padding: .75rem;
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: 10px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.focusedLabel::before {
    content: "";
    display: block;
    position: absolute;
    top: 16px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background: linear-gradient(90deg, rgba(100,72,254,1) 0%, rgba(96,5,148,1) 100%);
    z-index: -1;
    border-radius: 10px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.dates .focusedLabel::before{
    top: 21px
}
.expDate div .focusedLabel::before{
    top: -1px;
}
label input::placeholder{
    font-family: "Space Grotesk";
    color: hsl(279, 6%, 55%);
    font-size: 1.25em;
}
.dates{
    width: 98%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
}
.expDate{
    grid-column: 1/2;
    display: flex;
    gap: 5px;
}
.expDate div{
    display: flex;
    gap: 5px;
    width: 48.4%;
}
.cvc{
    grid-column: 2/3;
    gap: 5px;
}
button{
    width: 100%;
    padding: 1rem;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background-color: hsl(278, 68%, 11%);
    color: white;
    font-size: 1em;
    cursor: pointer;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.complete{
    align-items: center;
}
.complete h2{
    text-transform: uppercase;
    letter-spacing: 3px;
}
.complete p{
    color: hsl(279, 6%, 55%);
}
.noDisplay{
    display: none;
}

.invalid{
    border: 1px solid hsl(0, 100%, 66%);
}

.invalidParagraph{
    color: hsl(0, 100%, 66%);
    text-transform: none;
}






.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@media only screen and (min-width:1024px){
    main{
        flex-direction: row;
        height: 100vh;
    }
    .image{
        width: 39.0625%;
    }
    article{
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .cards{
        height: 360px;
        top: 30%;
        left: -250px;
    }
    .card1{
        top: auto;
        bottom: 0;
    }
    .card2{
        top: 0;
        bottom: auto;
    }
    .uncomplete, .complete{
        width: 100%;
    }
}